body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.divcls {
  background-color: red;
}
.containerdiv {
  border: 15px;
  border-color: black;
  background-color: aqua;
}
.imgdiv {
  width: auto;
}
.img {
  width: 200px;
}
.container {
  display: block;
  background-color: yellowgreen;
}
