body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #640831;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.divcls {
  background-color: red;
}
.containerdiv {
  border: 15px;
  border-color: black;
  background-color: aqua;
}
.imgdiv {
  width: auto;
}
.img {
  width: 200px;
}
.container {
  background-color: yellowgreen;
}
